@import '../../styles/mixins';

.fixture-block {
    display: flex;
    flex-direction: column;
    background: #2b2b2b;
    color: white;
    padding: 1.2rem;
    border: 0.1rem solid var(--tundora);
    height: 100%;
    justify-content: space-between;
    
    .fixture-block-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .game-details {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr;
        align-items: flex-start;
    }

    .team {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &.team--away {
            .team-badge {
                order: 1;
            }
        }

        &.team--home {
            .team-score {
                margin-left: auto;
            }
            .team-identity {
                flex-direction: column-reverse;
            }
        }
    }

    .team-badge {
        margin: 0 1.2rem;
    }

    .team-score {
        width: calc(100% - 5rem);
        margin-top: -2px;
    }
    
    .team-identity {
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        align-items: center;
    }

    .game-splitter {
        margin: 0 1.2rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .game-ko-data {
        display: flex;
        flex-direction: column;
    }

    // &.fixture-block--row {
    //     .game-details {
    //         grid-template-rows: 1fr;
    //         grid-template-columns: none;
    //         width: 100%;
    //         grid-row-gap: 1rem;
    //     }

    //     .team {
    //         display: grid;
    //         grid-template-columns: 1fr 10rem;
    //     }

    //     .team-identity {
    //         display: grid;
    //         grid-template-columns: auto 1fr;
    //         align-items: center;
    //         margin-bottom: 0;
    //     }

    //     .team {
    //         &.team--away {
    //             .team-badge {
    //                 order: 0;
    //             }

    //             .team-score {
    //                 margin-left: auto;
    //             }
    //         }
    //     }

    //     .team-name {
    //         text-align: left;
    //     }

    //     .team-score {
    //         display: inline;
    //     }

    //     .game-splitter {
    //         display: none;
    //     }

    //     .game-ko-data {
    //         border-top: 0.1rem solid var(--tundora);
    //         padding-top: 1rem;
    //         margin-top: 2rem;
    //         width: 100%;

    //         .game-date-time {
    //             margin-top: 0;
    //         }
    //     }
    // }
}

@include md {
    .fixture-block {
        .team {
            align-items: center;

            &.team--home {
                .team-identity {
                    flex-direction: row;
                }
            }
        }

        .team-identity {
            flex-direction: row;
        }

        .game-details {
            align-items: center;
        }

        .game-ko-data {
            flex-direction: row;
            margin: 2rem 0 0;
            justify-content: center;
            border-top: 0.1rem solid var(--tundora);
            padding-top: 1rem;
            width: 100%;
    
            .game-date-time {
                flex-direction: row;
                margin: 0 1.2rem 0 0;
                border-right: 0.1rem solid var(--tundora);
            }
    
            .game-time {
                margin-right: 1.2rem;
            }
        }
    }
}