.player-stat {
    display: grid;
    grid-template-rows: auto 1fr;
    text-align: center;

    .stat-title {
        font-weight: 300;
    }

    .stat-value {
        font-weight: 500;
        font-size: 3rem;
    }

    .unit {
        font-size: 1.4rem;
        font-weight: 300;
    }
}
