@import '../../styles/mixins';

.team-page {
    .header-banner {
        margin-bottom: 4rem;
        padding: 1rem 0;
        color: var(--white);

        .team-name {
            margin: 0;
            border-bottom: none;
            font-size: 6rem;
        }

        .team-city {
            display: none;
        }

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .team-badge {
            width: 12rem;
            margin-right: 1.2rem;
            margin-left: -6rem;
        }

        .team-details {
            display: flex;
            align-items: center;
        }

        .simple-stats {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    h2 {
        margin-bottom: 2rem;
    }

    .fixture-block {
        margin-bottom: 2rem;
        height: auto;
    }

    .stadium-capacity {
        margin-bottom: 2rem;
    }

    .fixtures-message {
        margin-bottom: 3rem;
    }
}

@include md {
    .team-page {
        .header-banner {
            .team-badge {
                width: 12rem;
                margin-right: 1.2rem;
                margin-left: -12rem;
            }
            .loading-icon {
                min-height: auto;
            }

            .team-city {
                display: inline-block;
            }
        }


        .tab-pane {
            padding-top: 3rem;
        }

        .fixture-block {
            .game-ko-data {
                flex-direction: column;
                align-items: center;

                .game-date-time {
                    margin-right: 0;
                    border-right: none;
                }

                .game-time {
                    margin-right: 0;
                }
            }
        }
    }
}