.player-card {
    padding: 1.2rem;
    border: 0.1rem solid var(--tundora);
    margin-bottom: 3rem;
    min-height: 18rem;
    position: relative;

    .player-name {
        margin-bottom: 1rem;
        padding-bottom: .8rem;
        font-size: 2rem;
        border-bottom: 0.1rem solid var(--tundora);
        display: flex;
        position: relative;
        z-index: 1;
    }

    .player-number {
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        margin-right: 1.2rem;;

        .player-stat {
            display: flex;
            grid-template-columns: none;
            grid-template-rows: none;
            justify-content: center;
        }

        .stat-value {
            font-size: 3rem;
        }
    }

    .player-details {
        display: flex;
        position: relative;
        z-index: 1;
    }

    .player-profile-image {
        width: calc(50% - 2rem);
        margin: auto 2rem .8rem 0;

    }

    .player-profile-quick-stats {
        display: flex;
        flex-wrap: wrap;
        width: 50%;

        .player-stat {
            width: 50%;
        }
    }

    .team-badge {
        position: absolute;
        right: 0;
        width: 24rem;
        opacity: 0.08;
        top: 50%;
        transform: translateY(-50%)
    }

}
