@import '../../styles/mixins';

.team-stats {
    padding: 1rem;
    
    .stats-list {
        margin: 0 1rem;
        padding: 0;
    }

    .stats-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    .stats-list--sub {
        padding: 1rem;
        flex: 1 1 100%;
        background: #444141;
        margin: 1rem -1rem 0;

        .stats-list-item {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

@include md {
    .team-stats {
        padding: 0;
    }
}