
@import '../../styles/mixins';

.mobile-nav-toggle {
    position: absolute;
    top: -4.5rem;
    right: 1.5rem;
    background: none;
    color: var(--white);
    border: none;
    font-size: 3.2rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    position: absolute;
    background: black;
    width: 100%;
    left: 0;
    z-index: 1;
    
    &.is--open {
        max-height: 100rem;
        height: auto;
    }
}
.navigation {
    .navigation-list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 1.2rem 0;
    }
    .navigation-list-item {
        list-style: none;
        padding: 1.2rem;

        a {
            text-decoration: none;
            position: relative;
            padding: .6rem 1.2rem;

            &:after {
                width: 0;
                height: .2rem;
                background: var(--white);
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: width .25s ease-in-out;
            }

            &.selected {
                &:after {
                    width: calc(100% - 2.4rem);
                }
            }

            &:hover {
                &:after {
                    width: calc(100% - 2.4rem);
                }
            }
        }
    }
}

@include md {
    .mobile-nav-toggle {
        display: none;
    }
    .navigation-container {
        display: block;
        position: relative;
        max-height: none;
        background: none;
    }

    .navigation {
        .navigation-list {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}