
@import '../../styles/mixins';

.team-name {
    display: block;
    text-align: center;
    flex: 1 1 auto;

    .team-city,
    .team-nickname {
        display: none;
    }
}

@include md {
    .team-name {
        .team-city,
        .team-nickname {
            display: inline-block;
        }

        .team-abbr {
            display: none;
        }

        &.team-name--abbr-only {
            .team-nickname {
                display: none;
            }

            .team-abbr {
                display: inline-block;
            }
        }
    }
}