
@import '../../styles/mixins';

.team-name {
    display: block;
    text-align: center;
    flex: 1 1 auto;

    .team-name-full {
        display: none;
    }
}

@include md {
    .team-name {
        .team-name-full {
            display: inline-block;
        }

        .team-name-abbr {
            display: none;
        }
    }
}