.location-pin {
    display: block;
    text-align: center;
    position: relative;
    bottom: 9rem;
    margin-left: 0;
    
    .pin-text {
        transform: translateX(-40%);
        width: 15rem;
        border-radius: .5rem;
        padding: .6rem;
        background: rgba(255, 255, 255, 0.8);
        border: .1rem solid;
    }

    .pin {
        height: 4rem;
        width: 4rem;
        margin: 0 auto;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}