@import '../../styles/mixins';

.theme-switcher {
    padding: 0 1.8rem 1.8rem;
    .switcher-button {
        background: none;
        border: none;
        outline: none;

        &.button-dark {
            color: var(--text-color);

            .dark-icon {
                display: none;
            }
        }

        &.button-light {
            color: var(--text-color);

            .light-icon {
                display: none;
            }
        }
    }

    .text-content {
        margin-left: 1.2rem;
    }
}

@include md {
    .theme-switcher {
        padding: 1.2rem;

        .text-content {
            display: none;
        }

        .switcher-button {
            &.button-light {
                color: var(--text-color);
            }
        }
    }
}