@import '../../styles/mixins';

.game-header {
    margin-bottom: 2rem;
    color: var(--white);
    padding: 2rem 0;
    
    .container {
        min-height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .game-header-info {
        display: grid;
        grid-template-columns: 1fr 4rem 1fr;
        align-items: flex-start;
    }

    .team {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &.team--away {
            justify-content: flex-end;

            .team-badge {
                order: 1;
            }
        }

        &.team--home {
            .team-identity {
                flex-direction: column-reverse;
            }
        }
    }

    .tema-city {
        display: none;
    }

    .team-name {
        font-size: 3rem;
        margin-top: -.3rem;
        display: flex;
        flex-direction: column;
    }

    .team-city {
        display: none
    }

    .game-splitter {
        margin: 0 1.2rem;
        font-size: 2rem;
        font-weight: 500;

        &.is--final {
            margin: 0;
            font-size: 1.8rem;
            text-align: center;
        }
    }

    .team-identity {
        font-size: 2.2rem;
        display: flex;
        flex-direction: column;
        font-weight: 300;
        align-items: center;
    }

    .team-score {
        width: calc(100% - 5rem);
        margin-top: -.2rem;
        font-weight: 500;
    }

    .team-badge {
        margin: 0 1.2rem;
    }

    .venue-ref {
        margin-top: 1rem;
        font-size: 1.4rem;
        text-align: center;
    }
}

@include md {
    .game-header {
        .game-header-info {
            align-items: center;
        }

        .team {
            align-items: center;

            &.team--home {
                .team-identity {
                    flex-direction: row;
                }
            }
        }

        .team-name {
            font-size: 4rem;
            margin-top: 0;
            font-weight: 500;
        }

        .team-city {
            display: block;
            font-size: 1.8rem;
            margin-bottom: -1.4rem;
            opacity: .5;
            text-align: left;
        }

        .team-identity {
            flex-direction: row;
        }

        .team-score {
            width: auto;
            margin: 0 2rem;
            font-size: 5rem;
        }

        .team-badge {
            width: 8rem;
        }
    }
}