.game-stats {
    .stats-row {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        padding: 1rem;
        border-bottom: .1rem solid var(--tundora);

        &.stats-row--header {
            font-weight: 700;
            font-size: 2rem;
        }

        &:last-of-type {
            border-bottom: none;
        }

        .stat-away {
            text-align: left;
        }
        .stat-item {
            text-align: center;
        }
        .stat-home {
            text-align: right;
        }
    }
}